<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="styles/normalize.css">
    <link rel="stylesheet" href="styles/styles.css">
    <title>Arbastro</title>
</head>
<body>



<div id="particles-js"></div> <!-- Particles for background -->

    <nav class="navigation"> <!--Top navigation-->
        <ul class="navigation__ul">
            <li class="navigation__list-item--active  poppins-fw-400">Home</li>
            <li class="navigation__list-item  poppins-fw-400">Games</li>
            <li class="navigation__list-item  poppins-fw-400">Contact</li>
            <li class="navigation__list-item  poppins-fw-400">Contact</li>
        </ul>

        <button class="navigation__register-btn  poppins-fw-400  pos-relative  btn">Register</button>

        <img class="navigation__img  pos-relative" src="https://arbastro.carrd.co/assets/images/image04.png?v=64426b8c">
    </nav>

    <main class="main-content  text-center"> <!-- Home page -->
        <section class="main-content__home-page">
            <h1 class="main-content__title poppins  pos-relative  col-white ">Unlock the limitless potential of ROBLOX<br>
                with our <span style="color: #e88b11;">comprehensive solutions.</span>
            </h1>

            <p class="main-content__description  poppins-fw-400  pos-relative  col-white">Introducing Arbastro: your go-to destination for innovations in entertainment 
                <br>in all genres of virtual content across the metaverse.
            </p>

            <a><button class="main-content__button  btn  poppins-fw-400  pos-relative">Learn More</button></a>
        </section>

        <!-- About us -->

        <section class="main-content__games">
            <h2 class="main-content__games-header  poppins-fw-400  col-white  pos-relative">
                Games
            </h2>

            <p class="main-content__exp-rubasa-header  col-white  poppins-fw-400  pos-relative   ">
                Expedition Rubasa
            </p>

            <img class="main-content__exp-rubasa-img  pos-relative" src="https://forums.thecookie.dev/uploads/default/optimized/2X/e/ee0c060b8058cb5a584a265da7cb427a453e3bfd_2_1035x379.jpeg">   
        </section>
    </main>

    <script src="js/particles.js"></script>
    <script src="js/app.js"></script>    
</body>
</html>

<!--

    TODO:

    - Remove unused helper classes or rarely used in the future
    - Remove unused styles
    
-->
