/*
 BEM
================================================================
 Comments
================================================================
 ABCSS
================================================================
*/




/*
================================================================
 Global styles
================================================================
*/

*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --ACCENT-COLOR: #e88b11;
    --BG-COLOR: #131313;
    --TRANSITION-DURATION: 300ms;
}

body {
    background-color: var(--BG-COLOR);
    overflow-x: hidden;
}

/*
=================================================================
 Navigation styles
================================================================= 
*/

.navigation__ul {
    align-items: center;
    color: white;
    display: flex;
    gap: 2rem;
    justify-content: center;
    list-style: none;
    margin-top: 2rem;
}

.navigation__list-item {
    z-index: 100;
}

.navigation__list-item--active {
    color: var(--ACCENT-COLOR);
    z-index: 100;
}

.navigation__list-item:hover { 
    color: var(--ACCENT-COLOR);
    cursor: pointer;
    transition: all var(--TRANSITION-DURATION) ease;
}

.navigation__register-btn {
    left: 62.5rem;
    bottom: 2rem;
} 

.navigation__register-btn:hover {
    background: 
        linear-gradient(to right, #e88b11 1%, #e96c00 17%, #b95904 100%) border-box;
    color: var(--BG-COLOR);
    cursor: pointer; 
    transition: all var(--TRANSITION-DURATION) ease;
}

.navigation__img {
    bottom: 1.5rem;
    height: 10%;
    width: 10%;
}


/*
=================================================================
 Home page styles
================================================================= 
*/

.main-content__title {
    font-size: 3rem;
    font-weight: 500;
    top: 3rem;
}

.main-content__description {    
    font-size: 1.1rem;
    line-height: 1.4;
    top: 1.5rem;
}

.main-content__button {
    top: 2rem;
}

.main-content__button:hover {
    background: 
        linear-gradient(to right, #e88b11 1%, #e96c00 17%, #b95904 100%) border-box;
    color: var(--BG-COLOR);
    cursor: pointer; 
    transition: all var(--TRANSITION-DURATION) ease;
}


/*
================================================================
 Game styles
================================================================
*/

.main-content__games-header {
    font-size: 2rem;
    top: 20rem;
}

.main-content__exp-rubasa-header {
    font-size: 1.5rem;
    right: 20rem;
    top: 22rem;
}

.main-content__exp-rubasa-img {
    float: right;
    height: 30%;
    margin-right: 2rem;
    top: 20rem;
    width: 30%;
}

/*
================================================================
 Particles JS
================================================================
*/


#particles-js {
    min-height: 100%;
    min-width: 100%;
    position: absolute;
}

/*
================================================================
 Helper Classes
================================================================
*/

.poppins-fw-400 {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}

.poppins { font-family: "Poppins", sans-serif; }

.pos-relative { position: relative; }

.col-white { color: white;}

.text-center { text-align: center; }

.btn {
    background: 
        linear-gradient(var(--BG-COLOR), var(--BG-COLOR)) padding-box,        
        linear-gradient(to right, #e88b11 1%, #e96c00 17%, #b95904 100%) border-box; 
    border-radius: 8px;
    border: 1.5px solid transparent;   
    color:var(--ACCENT-COLOR);
    filter: drop-shadow(-10px 8px 4px black);
    font-size: 0.8rem;
    padding: 10px 25px;
}
